<span>
  <h1>Ingreso de procedimiento</h1>

  <%= form_with model: @procedure do |form| %>
    <section>
      <label for="direccion"> Direccion: </label>
      <%= form.text_field :direccion %>
    </section>

    <section>
      <label for="direccion"> Direccion: </label>
      <%= form.text_field :direccion %>
    </section>

    <section>
      <%= form.submit "Enviar", class: "btn btn-primary" %>
    </section>

  <% end %>

</span>
