.messageBox {
    display: inline-block;
    border-radius: 5px;
    background: #E7E7E7;
    padding: 10px;
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.topMessageBox
{
    font-family: "Lucida Console", courier, monospace, bold;
    font-weight: bold;
    font-size: large;
    width: available;
    text-align: start;
    margin-bottom: 1em;
}

.bottomMessageBox
{
    width: available;
    text-align: start;
}