.messageBox {
    display: inline-block;
    border-radius: 5px;
    background: #E7E7E7;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid black;
}

.leftMessageBox
{
    border-right: 1px solid black;
    width: 20%;
    float: left;
    text-align: start;
}

.rightMessageBox
{
    border-left: 1px solid black;
    width: available;
    margin-left: 20px;
    text-align: start;
}