#homeNotificationDiv{
    justify-content: space-between;
    border-radius: 25px;
    background: #FFFBFF;
    padding: 20px;
    width: 90%;
    height: 50%;
    display: inline-flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}